/* Step 3: 一番上の図形へのスタイル適用 */
#top {
  width: 800px;
  background-color: #dcc9f4;
  margin: 20px auto; /* 上下20pxの余白、中央配置 */
  text-align: center; /* p要素を中央揃え */
}

.top-child {
  width: 20%; /* 親要素の20% */
  background-color: #ffd9df;
  display: inline-block; /* 横並びにするためにinline-blockを使用 */
}

/* Step 4: 真ん中の図形へのスタイル適用 */
#middle {
  width: 800px;
  height: 800px;
  margin: 20px auto; /* 上下20pxの余白、中央配置 */
  background-color: #ffd9df;
  position: relative; /* 子要素のpositionを使用するためにrelativeに設定 */
}

#middle-child01 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  position: absolute; /* 絶対配置 */
  top: 100px;
  left: 100px;
}

#middle-child02 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  position: absolute; /* 絶対配置 */
  top: 300px;
  left: 300px;
}

#middle-child03 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  position: absolute; /* 絶対配置 */
  top: 500px;
  left: 500px;
}

/* Step 5: 一番下の図形へのスタイル適用 */
#bottom {
  width: 800px;
  height: 300px;
  margin: 0 auto; /* 中央配置 */
  background-color: #87ceeb;
  position: relative; /* 子要素のpositionを使用するためにrelativeに設定 */
}

#bottom-child01 {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
  position: absolute; /* 絶対配置 */
}

#bottom-child02 {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
  position: absolute; /* 絶対配置 */
  left: 200px; /* 左から200pxずらして配置 */
}

#bottom-child03 {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
  position: absolute; /* 絶対配置 */
  left: 400px; /* 左から400pxずらして配置 */
}

